.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 0.8vw;
  width: 90vw;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  .content {
    display: grid;
    place-items: center;
    .confirm {
      padding: 0.5rem 1rem;
      background-color: #8a8190;
      border: 1px solid #8a8190;
      color: white;
      cursor: pointer;
      border-radius: 6px;
      margin-right: 0.5rem;
      margin: 1rem;

      &:hover,
      &:active {
        background-color: #270041;
        border-color: #270041;
      }
    }
  }
}

@media (min-width: 800px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
